---
layout: default
title: Ruby on Rails development
# Front matter
---


<!doctype html>
<html lang="en-GB">
 <body>
 
    <ul class="portfolio">
    {% for repo in site.github.public_repositories limit:28 %}
 
        {% if repo.fork != true %}
            <li class="repo">
               
                <a href="{{ repo.homepage }}">{{ repo.name }}</a>
             
            </li>
        {% endif %}
 
    {% endfor %}
</ul>
 
{% for post in site.latest_posts %}
  <div class="entry">
  	<div class="entrytitle">
  		<h2><a href="{{ post.url }}">{{ post.title }}</a> <span class="author">{{ post.author }}</span></h2> 
  		<h3>{{ post.date | date_to_string }} | <a href="{{ post.url }}#disqus_thread" class="commentslink">View comments</a></h3>
  	</div>
  	
  	<div class="entrybody">
  	  {{ post.content }}
  	</div>
  	
  	<div class="entrymeta">
  	  <a href="{{ post.url }}#disqus_thread" class="commentslink">View comments</a>
  	</div>
  </div>
{% endfor %}
  
 </body>
</html>
