---
---

@import "{{ site.theme }}";

.page-header {
    color: #000;
    text-align: center;
    background-color: #FFE44B;
    background-image: none !important;
}

.page-header a.btn {
    color: #000;
    border-color: #000;
}
